/*
* @author Dennis Fyksen
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4DA8DA;
}

header,
footer {
    background-color: #203647;
    border: #000000 solid 2px;
}

header {
    height: 150px;
}

footer {
    color: #EEFBFB;
    padding: 40px 0px 40px 0px;
    text-align: center;
    margin: 0px;
}

.navBarSub {
    padding: 0px 0px 0px 0px;
    margin: 100px 0px 0px 0px;
}

.navBarSub>li {
    display: inline;
}

h1 {
    clear: both;
    text-align: center;
    background-color: #12232E;
    color: #4DA8DA;
    padding: 10px 15px 0px 15px;
    border: #EEFBFB solid 2px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #EEFBFB;
    background-color: #203647;
    padding: 12px 12px 12px 12px;
    margin: 40px 0px 30px 0px;
    border-radius: 15%;
    border: black solid 2px;
}

.h2Div {
    display: flex;
    justify-content: center;
}

#homeMain {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    border: black solid 2px;
    border-radius: 10px;
    margin: auto;
    font-weight: bold;
    min-width: 880px;
    max-width: 1200px;
    background-color: #EEFBFB;
}

#homeMain>* {
    border: black solid 2px;
}

#homeImgGallery {
    display: flex;
    flex-flow: row wrap;
    max-width: 300px;
    max-height: 600px;
}

#homeParagraph {
    justify-content: center;
    display: flex;
    flex: 1 1;
}

#homeParagraph>ul {
    text-align: left;
    min-width: 200px;
    max-width: 500px;
    padding: 40px 20px 20px 40px;
    margin: 0px 0px 0px 0px;
    line-height: 2;
    font-size: 18px;
}

#homeUl >li{
    margin-bottom: 25px;
    border-bottom: #12232E solid 1px;
}

#homeList {
    justify-content: left;
    padding: 0px 0px 0px 0px;
    width: 200px;
    line-height: 1.35;
}

#homeList>h3 {
    padding: 0px 20px 0px 20px;
    border-bottom: #12232E solid 1px;
}

#aboutUsMain {
    display: flex;
    justify-content: center;
}

#aboutUsDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 1;
    border: black solid 2px;
    border-radius: 10px;
    max-width: 1350px;
    min-width: 470px;
    background-color: #EEFBFB;
}

#aboutUsMissionDiv {
    flex: 1 1;
    max-width: 500px;
    min-width: 200px;
    line-height: 1.5;
    padding: 5px 20px 5px 30px;
    border: black solid 2px;
}

#aboutUsMedia {
    flex: 1 1;
    display: flex;
    flex-flow: column wrap;
    border: black solid 2px;
}

.h3AboutUsDiv {
    padding: 0px 0px 5px 20px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
}

#divFAQs,
#divGallery,
#galleryContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#divFAQsContainer {
    display: flex;
    justify-content: center;
}

#divFAQs {
    max-width: 50%;
    flex: 1 1;
    border-radius: 10px;
    border: black solid 2px;
}

#divFAQs>div {
    height: fit-content;
    padding: 5px 20px 5px 20px;
    border: black solid 2px;
    background-color: #EEFBFB;
}

#divGallery {
    max-width: 70%;
    border: black solid 4px;
    border-radius: 10px;
    background-color: #EEFBFB;
    padding: 5px 5px 5px 5px;
}

#divGallery>figure {
    border: black solid 4px;
    margin: 10px 10px 10px 10px;
    max-height: 300px;
}

figcaption {
    display: flex;
    justify-content: center;
    background-color: #203647;
    color: #EEFBFB;
    max-height: 40px;
    line-height: 0;
}

figcaption>h4 {
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
}

.navCurrentPage {
    background-color: #007CC7;
}

.navBar {
    font-weight: bold;
    overflow: hidden;
    background-color: #12232E;
    margin-bottom: 30px;
}

.navBar a {
    float: right;
    font-size: 16px;
    color: #EEFBFB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdownMenu {
    float: right;
    overflow: hidden;
}

.navBar a:hover,
.dropdownMenu:hover {
    background-color: gray;
}

.dropdownItems {
    display: none;
    position: absolute;
    top: 158px;
    background-color: #EEFBFB;
    min-width: 104px;
}

.dropdownItems>a {
    float: none;
    color: #203647;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdownItems a:hover {
    background-color: #ddd;
}

.dropdownMenu:hover .dropdownItems {
    display: block;
}

.banner {
    display: flex;
    gap: 30px;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: black solid 4px;
    border-radius: 10px;
    max-width: 820px;
    background-color: gray;
    color: #EEFBFB;
    padding: 10px 0px 10px 0px;
}

form>h2 {
    text-align: center;
    max-width: 400px;
    font-size: 22px;
}

#requestFormButtons {
    display: flex;
    justify-content: center;
    width: 400px;
    max-width: 400px;
}

#requestMain {
    display: flex;
    justify-content: center;
}

#requestFormDiv {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

label {
    display: inline-block;
    margin: 6px;
    vertical-align: center;
}

em {
    color: red;
    font-weight: bolder;
}

legend {
    font-weight: bold;
}

input,
select,
textarea {
    background-color: #EEFBFB;
}

#userUpload {
    color: black;
}

textarea {
    max-width: 362px;
    min-width: 362px;
    height: 190px;
}

.fieldsetVertical {
    display: inline-grid;
    line-height: 1.5;
}

.fieldsetVertical>label {
    width: 356px;
}

.numberInput {
    width: 40px;
}

#requestFormDivLeft {
    width: 400px;
    height: 550px;
}

#requestFormDivRight {
    max-width: 400px;
}

.buttons {
    margin: 0px 5px 0px 5px;
}